body {
    display: flex;
    height: 100vh;
  background-color: grey;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url(images/battleship-background2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
div{
    border: 1px green solid;
     box-shadow: 0 0 .2rem #fff,
            0 0 .1rem #fff,
            0 0 0.3rem #0FFF50,
            0 0 0.3rem #0FFF50,
            0 0 0.5rem #0FFF50,
            inset 0 0 .1rem #0FFF50; 
      
}

.left-side{
    display: grid;
    height: 55%;
    width: 35%;
     flex-direction: column;
      grid-template: repeat(10, 1fr) / repeat(10, 1fr);
      
}

.right-side{
    display: grid;
    height: 55%;
    width: 35%;
      grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    
  

}




.battleship-placed{
    background: #00308f;
}
.battleship-hover{
    background-color: #00308F;
}
.marker{
    background: red;
}